# Core functionality - changes here should be rare!
/src/app.py                   @ValleY225
/src/backend/database.py      @ValleY225
/src/backend/routers/auth.py  @ValleY225

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ValleY225